  <div class="nested-fields">
  	 <div class="form-row">
    	<div class="field col-xs-9">
    	<%= f.text_field :tag_name, placeholder:"タグ", class: 'form-control input-sm' %>
        </div>
    	<div class="field col-xs-3">
    	<%= link_to_remove_association "削除", f, class: "btn btn-danger" %>
        </div>
     </div>
  </div>