<p>記事投稿</p>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        	<h3>返信フォーム</h3>
        	<%= form_for @article do |f| %>
        		<%= f.text_area :responce, autofocus: true,required: true, :size=>"60x10" %><br>
        		<%= f.submit "返信", class: "btn btn-default" %>
        	<% end %>
    	</div>
	</div>
</div>