<div class="container contacts">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        	<h2>投稿記事詳細</h2>
        	<table class="table table-hover contact">
        	    <thead>
        		<tr class="info">
        			<th width="10%">投稿日時</th>
        			<th>ユーザー名</th>
        			<th>件名</th>
        			<th width="60%">内容</th>
        		</tr>
        		</thead>
        		<tbody>
        		<tr class="active">
        			<td><%= @article.created_at %></td>
        			<td><%= @article.user.hundle_name %></td>
        			<td><%= @article.article_title %></td>
        			<td><%= @article.article_body %></td>
        		</tr>
        		</tbody>
        	</table>
        </div>
    </div>
</div>