
<div class="title">
  <h2 class="tx-center">ARTICLE</h2>
  <p class="tx-center">記事</p>
</div>

<div class="team_box3">
        	<table class="table article_table">
        	    <thead>
        		<tr>
        			<th width="10%">投稿日時</th>
        			<th>ユーザー名</th>
        			<th>件名</th>
        			<th width="60%">内容</th>
        		</tr>
        		</thead>
        		<tbody>
        		<tr>
        			<td><%= @article.created_at.strftime('%Y/%m/%d') %></td>
        			<td><%= @article.user.hundle_name %></td>
        			<td><%= @article.article_title %></td>
        			<td><%= @article.article_body %></td>
        		</tr>
        		</tbody>
        	</table>

</div>