// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calender_box{
  margin-top: 10px;
  width:90%;
  margin: 0 auto;
}

.title{
  width:90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:2px solid black;
}

.user_info{
  width:90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name_box{
  float:left;
}

.days_box{
  float:right;
}

.btn-flat-bottom-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 7px 10px 10px 10px;
  text-decoration: none;
  color: #FFF;
  background: #a180dc;
  transition: .4s;
}

.btn-flat-bottom-border > span {
  border-bottom: solid 2px #FFF;
}

.btn-flat-bottom-border:hover {
  background: #91b5fb;
}

.calendar-heading {
  text-align:center;
}

.calendar-title {
  font-size: 40px;
  font-family: 'Kalam', cursive;
}