// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calender_box{
  width:90%;
  margin: 0 auto;
}

.title{
  width:90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:2px solid black;
}

.btn-edge {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 30px;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: .4s;
}

.btn-edge:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px white;
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}

.btn-edge:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px white;
  z-index: 1;
  transition: .4s;
}

.btn-edge:hover:before, .btn-edge:hover:after {
  border-left-width: 25px;
}

.deg_btn:hover {
  background: #2c3148;
}