<h1>Logs#index</h1>

<%= link_to '進捗を記載', new_note_path %>

<%= month_calendar events: @notes do |date, notes| %>
  <%= date.day %>

  <% notes.each do |note| %>
    <div>
      <%= link_to note.result, note %>
    </div>
  <% end %>
<% end %>